.homepage-content {
    display: flex;
    flex-direction: column;

}
/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/


.section-divider {
    border: 15px solid var(--verte-claire);
    border-style: solid hidden solid hidden;
    background-color: var(--marron-fonce);
    height: 15px;
}

.section {
    padding-left: 6%;
    padding-right: 6%;
}




.home-description,
.home-histoire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    padding: 0 6%;
    gap: 3%;
    margin: 0;
  
}
.titre-descr{
    color: var(--verte-claire);
}
.titre-hist{
    color: var(--marron-fonce);
}


.home-description {
    padding-bottom: 0%;
}

.home-description {
    background-color: var(--marron-fonce);
}

.home-histoire {
    background-color: var(--verte-claire);
}

.home-text {
    flex: 1;
    text-align: center;
}

.titre-descrp {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
    
}
.para-descr{
    color: var(--beige-claire);
}
.para-hist{
    color: var(--verte-fonce);
}


.paragraphe-home {
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;
    
}

.paragraphe-home.mots {
    color: var(--beige-claire);
}
.images-sections {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
}

.images-home {
    flex: 1;
    text-align: center;
    

}
.imagen-home-descr{
    border: 5px var(--verte-claire);
    border-style: solid;
}
.imagen-hist{
    border: 5px var(--beige-claire);
    border-style: solid;
}

.images-home img {
    max-width: 100%;
    height: fit-content;
    display: block;
    margin: 0 0;
}

.imagen-home-descr {
    height: auto;
}

.images-home.histoire img {
    height: auto;
    overflow: hidden;
}


/*-----------------------*/
/*------MOts Creatuer------*/
/*-----------------------*/

.home-mots-createur {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    background-image: url('/public/Images/Ferme-pano.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

.home-mots-createur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-text-createur h2 {
    color: var(--verte-claire);
}

.home-text-createur {
    padding: 0 25%;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.mots {
    width: 90%;
}

/*  ----- Bottom ---------*/
.container-concept-home {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    padding: 5% 0;
}

.container-brunchs-home {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    padding: 5% 0;
}

.signature-chef {
    text-align: right;
    width: 80%;

}

.foto-chef {
    border-radius: 50%;
    width: 20%;

}

.home-bottom {
    padding: 20px 5%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: var(--beige-claire);
}

.text-concept-home,
.text-brunch-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraphe-bottom-home.un {
    font-size: 1.5rem;
    text-align: right;
    width: 80%;
    color: var(--marron-fonce);

}

.paragraphe-bottom-home.deux {
    font-size: 1.5rem;
    text-align: left;
    width: 80%;
    padding-left: 20%;
    color: var(--marron-fonce);
}

hr {
    border: none;
    border-top: 4px dotted var(--marron-fonce);
    /* Color y grosor de la línea */
    margin: 0 40px;
    width: 50%;
    justify-self: center;
    /* Espacio entre los dos divs y la línea */
}

/*--------------- Event section ---------------*/
.events-section {
    background-image: url('/public/Images/catering-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

.events-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Asegura que cubra toda la sección */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Usa rgba para opacidad */
    z-index: 1;
}

.container-event-home {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

.paragraphe-event-home {
    text-align: center;
    padding: 0% 10% 2% 10%;
    font-size: 1.5rem;
    color: var(--beige-claire);
}
.button-event {
    --b: 3px;   
    --s: .15em; 
    --c: var(--verte-claire);
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
    font-family: 'KrabulerFont';
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    margin: 0;
    width: 180px;
    height: 70px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-event:hover,
.button-event:focus-visible {
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
    background-color: var(--verte-claire);
    color: var(--verte-fonce);
}

.button-event:active {
    background: var(--c);
    color: #fff;
}

.button-event .link-event {
    color: var(--c);
    text-decoration: none;
    transition: color 0.3s linear;
}

.button-event:hover .link-event,
.button-event:focus-visible .link-event {
    color: var(--verte-fonce);
}
.event-negrita{
    color: var(--verte-claire);
    font-style: oblique;
}
.titre-event{
    text-align: center;
    color: var(--verte-claire);
    font-size: 3rem;
    padding-top: 2%;
}

/*----------------------------------*/
/*-------- Galleries Section -------*/
/*----------------------------------*/

.thumbs {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-items: center;
    max-width: 100%;
    height: auto;

    >a {
        max-width: auto;
        height: auto;
        margin: 2px;
        overflow: hidden;

        box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);

        img {
            transform: scale(1);
            transition: transform 0.1s ease-in-out;
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}


.lightbox {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 200;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &:has(div:target) {
        transform: translateY(0%);
        opacity: 1;
    }

    a.nav {
        text-decoration: none;
        color: var(--verte-claire);
        font-size: 40px;
        text-shadow: 0 2px 2px rgba(black, 0.8);
        opacity: 0.5;
        font-weight: 200;

        &:hover {
            opacity: 1;
        }
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .target {
        position: absolute;
        height: 100%;
        width: auto;
        display: flex;
        transform: scale(0);
        align-items: center;
        justify-content: space-between;

        *:first-child,
        *:last-child {
            flex: 0 0 100px;
            text-align: center;

            @media all and (max-width:600px) {
                flex: 0 0 50px;
            }
        }

        .content {
            transform: scale(0.5);
            opacity: 0;
            flex: 1 1 auto;
            align-self: center;
            max-height: 100%;
            min-height: 0;
            max-width: calc(100% - 200px);
            min-width: 0;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
            transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

            img {
                min-width: 100%;
                min-height: 100%;
                max-width: 100%;
                max-height: calc(100vh - 40px);
                display: block;
                margin: 0;
            }
        }

        &:target {
            transform: scale(1);

            .content {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .close {
        position: absolute;
        bottom: 2%;
    }
}

/*--------- Buttons bottom---------*/
.vinculo-commander-home,
.link-concept {
    color: var(--verte-fonce);
    text-decoration: none;
}

.cont-buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.button-home {
    --b: 3px;
    /* border thickness */
    --s: .15em;
    /* size of the corner */
    --c: var(--verte-fonce);

    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}

.button-home:hover,
.button-home:focus-visible {
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
    background-color: var(--verte-claire);
}

.button-home:active {
    background: var(--c);
    color: #fff;
}

.button-home {
    font-family: 'KrabulerFont';
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    width: 180px;
    height: 70px;
    padding: 1rem .5rem;

}



@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}



@media screen and (max-width: 960px) {

    .home-description,
    .home-histoire {
        display: flex;
        flex-direction: column;
        height: 50%;
        padding: 40px 0 40px 0;
    }

    .home-text {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 20px;
        padding-bottom: 30px;
        height: 10px;
        padding-top: 10px;
    }

    .home-histoire {
        padding-top: 30px;
    }

    .home-text-histoire {
        padding: 0 10%;
        margin: 0;
    }

    .images-home {
        margin-top: 20px;
    }

    .histoire-img {
        margin-top: 30px;
        padding-top: 20px;
    }

    .home-text-createur {
        padding: 0 5%;
    }

    .section-divider {
        height: 200px;
    }

    .skew-cc {
        background: linear-gradient(to right bottom, var(--verte-claire) 49%, var(--beige-claire) 50%), linear-gradient(-30deg, #ffffff 16px, #000 0);
    }

    .skew-c {
        background: linear-gradient(to left bottom, var(--verte-claire) 49%, var(--beige-claire) 50%);
    }

    .home-description {
        padding-bottom: 110px;
    }

    .container-brunchs-home,
    .container-concept-home {
        grid-template-columns: 1fr;
        display: grid;
    }

    .text-concept-home,
    .text-brunch-home {
        padding-bottom: 5%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .paragraphe-bottom-home.un,
    .paragraphe-bottom-home.deux {
        text-align: center;
        padding: 10px;
    }

    .thumbs {
        grid-template-columns: 1fr 1fr;
        height: auto;
        max-width: auto;

        >a {
            height: auto;

        }
    }
}

@media screen and (max-width: 750px) {

    .home-bottom {
        grid-template-columns: 100%;
        height: auto;

    }

    .cont-buttons {
        margin-bottom: 10%;
    }

    .foto-chef {

        width: 35%;

    }

    .text-brunch-home {
        margin-top: 10%;
    }

    .home-mots-createur {
        padding-top: 20%;
        padding-bottom: 20%;
        height: auto;
    }

    .container-concept-home {
        padding-bottom: 20%;
    }

    .container-brunchs-home {
        padding-top: 20%;
    }

    .titres-bottom.un {
        padding-right: 40px;
    }

    .titres-bottom.deux {
        padding-left: 40px;
    }

    .section-divider {
        margin-top: -40%;
    }

    .lightbox {
        margin: 0;

        .close {
            bottom: 10%;
        }

        .target {
            .content {

                max-width: calc(100%);

            }
        }
    }
}