.la-ferme-container {
    display: flex;
    flex-direction: column;
    background-color: var(--verte-claire);
}
.titres-ferme {
    text-align: center;
    font-size: 3rem;
}

.section-ferme{
    
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
/*------  Section Description Ferme   ----*/
.ferme-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-image: url('/public/Images/Ferme-pano.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
    background-attachment: fixed; 
}

.titre-descr-ferme{
    margin-top: -1%;
    color: var(--verte-claire);
    padding-bottom: 2%;
    font-size: 4rem;
}

.descr-ferme-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.paragraphe-descr-ferme {
    margin: 0;
    font-size: 1.5rem;
    text-align:  center;
    color: var(--beige-claire);
    width: 80%;
}

.map-cont {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-cont iframe {
    width: 100%;
    height: 100%;
    border: 5px solid var(--verte-claire);
    border-radius: 2rem;
}
/*-----------------------------*/
/*---Section Histoire Ferme----*/
/*-----------------------------*/
.histoire-cont{
    background-color: var(--beige-claire);
    height: 100vh;
}
.titre-histoire-ferme{
    color: var(--verte-fonce);
}
.histoire-paragraphe{
    color: var(--marron-fonce);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}
/*--------------------------*/
/*-----Section Legumes------*/
/*--------------------------*/
.legumes-cont, .fruits-cont{
    height: 50vh;
}
.titre-legumes-ferme{
    color: var(--marron-fonce);
}
.legumes-paragraphe {
    color: var(--verte-fonce);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}
/*--------------------------*/
/*-----Section Fruits------*/
/*--------------------------*/
.fruits-cont{
    background-color: var(--marron-fonce);
}
.titre-fruits-ferme{
    color: var(--verte-claire);
}
.fruits-paragraphe{
    color: var(--beige-claire);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (max-width: 960px){
    .ferme-cont {
        height: auto;
        padding-top: 15%;
        padding-bottom: 20%;
    }
    .descr-ferme-div {
        grid-template-columns: 1fr;
        gap: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 20%;
    }
    .paragraphe-descr-ferme {
        width: 100%;
    }
    .legumes-cont, .fruits-cont, .histoire-cont{
        height: auto;
        padding: 5% 5%;
        padding-bottom: 10%;
    }
      .descr-ferme-div {
        gap: 10%;
    }
    .map-cont {
     
        height: 300px;
       
    
    }
}
@media screen and (max-width: 750px){
   
    .legumes-cont, .fruits-cont, .histoire-cont{
        height: auto;
        padding: 5% 5%;
        padding-bottom: 10%;
    }
  
    .ferme-cont {
        padding-top: 30%;
        padding-bottom: 20%;
        height: auto;
    }
    
    .map-cont {
        height: 300px;
    }
}